$primary: #4AE278;
$dark: #0D0D0D;
$white: #fff;
$gray: rgba(181, 181, 181, 0.15);
$gray-2: #0D0D0D66;
$gray-3: #707070;
$invalid: #dc3545;

$breakpoints: (
        xs: 0px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);