/* GLOBAL STYLES
-------------------------------------------------- */
html, body{
  height: 100%;
}

/* Full screen banners
-------------------------------------------------- */
.full-page {
  height: 100%;
  margin-bottom: 4rem;
}

.carousel, 
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100%;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* Speakers, agenda
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.main-page-block .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.main-page-block h1 {
  font-weight: 400;
}
.main-page-block .col-lg-3 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
