<section class="section section-partner container">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <div class="anim-wrapper">
                <div class="frame-fill">
                    <div class="rect"></div>
                    <h1 class="content d-table-caption mt-8 mt-lg-24 ml-32 ml-lg-16">
                        {{ include.t.apator.title }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-6 col-xl-5">
            <a 
                href="http://www.apator.com/pl"
                target="_blank"
            >
            <img 
                src="/images/partners/apator-rector.svg" 
                alt="Apator Rector logo" 
                class="img-fluid mb-md-64"
            />
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-32 mt-lg-80">
        <div class="col-xl-10">
            <p class="mb-32">
                {{ include.t.apator.paragraph11 }}
            </p>
            <p class="mb-64">
                {{ include.t.apator.paragraph12 }}
            </p>

            <h2 class="h3">
                {{ include.t.apator.heading2 }}
            </h2>
            <p>
                {{ include.t.apator.paragraph21 }}
            </p>
            <ul class="ml-md-24 mb-40">
                {% for listItem in site.data.translations.partners[page.lang].apator.listItems  %}
                    <li class="mb-16">
                        - {{ listItem }}
                    </li>
                {% endfor %}
            </ul>
            <p class="mb-64">
                {{ include.t.apator.paragraph22 }}
            </p>

            <h2 class="h3">
                {{ include.t.apator.heading3 }}
            </h2>

            <p class="mb-64">
                {{ include.t.apator.paragraph31 }}
            </p>

            <h2 class="h3">
                {{ include.t.apator.heading4 }}
            </h2>

            <p class="mb-64">
                {{ include.t.apator.paragraph41 }}
            </p>

            <a 
                href="http://www.apator.com/pl"
                target="_blank"
                class="btn secondary"
                >
                {{ include.t.apator.link }}
            </a>
        </div>
    </div>
</section>