<section class="section section-frame container my-0 pb-72">
    <div class="row">
        <div class="col-md-6 px-0">
            <div class="row flex-column">
                <div class="col-md-12 d-flex flex-column anim-wrapper mb-280">
                    <div class="frame-fill">
                        <div class="rect"></div>
                        <small class="header-text">{{include.t.header1}}</small>
                        <h1 class="content mb-0 mb-lg-40">{{include.t.header2}}</h1>
                        <p class="mb-48 mb-md-80">{{include.t.header_text}}</p>
                        <p class="mb-12 mb-md-20">
                            {{include.t.contact_text}}<br />
                            <a href="mailto:contact@GreenfieldConf.pl" class="h3">contact@GreenfieldConf.pl</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-column anim-wrapper">
                    <div class="content-text">
                        <div class="header-text bigger">{{include.t.content_header1}}</div>
                        <h2>{{include.t.content_header2}}</h2>
                        <h3>{{include.t.content_header21}}</h3>
                        <p class="mb-32">{{include.t.content_text1}}</p>
                        <p class="mb-32">{{include.t.content_text2}}</p>
                        <h3>{{include.t.content_header22}}</h3>
                        <p class="mb-32">{{include.t.content_text3}}</p>
                        <p class="mb-32">{{include.t.content_text4}}</p>

                        <h3>{{include.t.content_header23}}</h3>
                        <p class="mb-32">{{include.t.content_text5}}</p>

                        <h3>{{include.t.content_header24}}</h3>
                        <p>{{include.t.content_text6}}</p>
                        <ul>
                            <li>{{include.t.content_text61}}</li>
                            <li>{{include.t.content_text62}}</li>
                            <li>{{include.t.content_text63}}</li>
                            <li>{{include.t.content_text64}}</li>
                        </ul>
                        <p class="mb-32">{{include.t.content_text7}}</p>
                    </div>
                </div>
                <div class="section pt-0"></div>
            </div>
        </div>
        <div class="col-md-5 offset-md-1 shown d-none d-md-block">
            <div class="frame-over mb-520"><img src="/images/cfp/speaker1.png" class="img-fluid" /></div>
            <div class="frame-over mb-80"><img src="/images/cfp/speaker2.png" class="img-fluid" /></div>
            <div class="frame-over mb-80"><img src="/images/cfp/speaker3.png" class="img-fluid" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center frame-under">
            <p>{{include.t.send_cfp_text1}}</p>
            <h3>contact@greenfieldconf.pl</h3>
            <p>{{include.t.send_cfp_text2}}</p>
        </div>
    </div>
</section>