<section class="section section-frame container my-0 pb-72">
    <div class="row">
        <div class="col-lg-6 anim-wrapper">
            <div class="frame-fill">
                <div class="rect">
                </div>
                <p class="text-smaller mb-0">{{include.t.intouch}}</p>
                <h1 class="content mb-24 mb-lg-40">
                    {{include.t.header}}
                </h1>
                <p class="mb-24">
                    {{include.t.text1}}
                </p>
                <p class="mb-80">
                    {{include.t.text2}}
                </p>
                <strong class="text-smaller">
                    {{include.t.text3}}
                </strong>
                <p class="text-smaller my-8">
                    {{include.t.text4}}
                </p>
                <p class="text-smaller mb-0">
                    {{include.t.text5}}
                </p>
            </div>
        </div>
        <div class="frame-container col-lg-5 offset-lg-1 d-flex flex-column justify-content-center anim-wrapper">
            <div class="frame frame-left">
                    {% include frame.html %}
            </div>
            <p class="text-smaller text-primary">
                {{include.t.general_contact_text1}}
            </p>
            <strong class="h3 mb-48">
                <a class="link" href="mailto:contact@greenfieldconf.pl">
                    contact@greenfieldconf.pl
                </a>
            </strong>
            <p class="text-smaller text-primary">{{include.t.partner_contact_text}}</p>
            <strong class="h3 mb-48">
                <a class="link" href="mailto:partners@greenfieldconf.pl">
                    partners@greenfieldconf.pl
                </a>
            </strong>
            <div class="d-flex social">
                <a href="https://twitter.com/greenfield_conf" target="blank">
                    <span class="icon-twitter mr-32"></span>
                </a>
                <a href="https://www.facebook.com/GreenfieldConf/" target="blank">
                    <span class="icon-facebook mr-32"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section container pt-0">
    <div class="row">
        <div class="col">
            <strong class="text-smaller">
                Fundacja conf.IT
            </strong>
            <p class="text-smaller my-8">
                ul. Rydza Śmigłego 62/8 | 65 - 610 Zielona Góra
            </p>
            <p class="text-smaller mb-0">
                NIP: 9291987374 | KRS: 0000772464
            </p>
        </div>
    </div>
</section>