<footer>
    <div class="container">
        <div class="row mb-32 mb-md-64">
            <ul class="col-sm-6 col-md-3 mb-0 mb-md-16">
                <li>
                    <img src="/images/gf_logo.svg" class="img-fluid" alt="Greenfield Conference" />
                </li>
                <li>
                    <a href="https://2019.greenfieldconf.pl/" target="blank">Greenfield 2019</a>
                </li>
                <li>
                    <a href="https://2018.greenfieldconf.pl/" target="blank">Greenfield 2018</a>
                </li>
            </ul>

            <ul class="col-sm-6 col-md-3">
                <li><a href="{{site.data.translations.global[page.lang].aboutus.url}}">{{site.data.translations.global[page.lang].aboutus.text}}</a></li>
                <li><a href="{{site.data.translations.global[page.lang].cfp.url}}">{{site.data.translations.global[page.lang].cfp.text}}</a></li>
                <li><a href="{{site.data.translations.global[page.lang].contact.url}}">{{site.data.translations.global[page.lang].contact.text}}</a></li>
            </ul>

            <ul class="col-sm-6 col-md-3">
                <li>
                    <a href="https://berlincodeofconduct.org/" target="blank">Berlin code of conduct</a>
                </li>
                <li><a href="{{site.data.translations.global[page.lang].privacy_policy.url}}">{{site.data.translations.global[page.lang].privacy_policy.text}}</a></li>
            </ul>

            <ul class="col-sm-6 col-md-3">
                <li>
                    <a href="{{site.data.translations.global[page.lang].contact.url}}">{{site.data.translations.global[page.lang].contact.text}}</a>
                </li>
                <li>
                    <a href="mailto:contact@greenfieldconf.pl">contact@greenfieldconf.pl</a>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-0">
                    <div>
                        <a href="https://twitter.com/greenfield_conf" target="blank">
                            <span class="icon-twitter mr-16"></span>
                        </a>
                        <a href="https://www.facebook.com/GreenfieldConf/" target="blank">
                            <span class="icon-facebook"></span>
                        </a>
                    </div>
                    <div class="d-inline d-sm-none">
                        {% include lang_switch.html %}
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-between">
                <small>{{site.data.translations.global[page.lang].all_rights_reserved}}</small>
                <div class="d-none d-sm-inline">
                    {% include lang_switch.html %}
                </div>
            </div>
        </div>
    </div>
</footer>