<section class="section section-frame container px-16 anim-wrapper mt-0 mt-md-64">
    <div class="frame frame-center">
        {% include frame.html %}
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-8 col-lg-7 col-xl-6 text-center">
            <p class="mb-8">
                {{site.data.translations.global[page.lang].newsletter_section_title1}}
            </p>
            <h3 class="h2">
                {{site.data.translations.global[page.lang].newsletter_section_title2}}
            </h3>
            <p class="mb-40">
                {{site.data.translations.global[page.lang].newsletter_section_text}}
            </p>
            <button class="btn primary btn-signup" aria-label="{{site.data.translations.global[page.lang].newsletter_section_action_text}}">
                {{site.data.translations.global[page.lang].newsletter_section_action_text}}
            </button>
        </div>
    </div>
</section>