<section class="section section-frame section-main container my-0 pb-72">
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5 anim-wrapper">
            <div class="frame-fill">
                <div class="rect">
                </div>
                <div class="ml-lg-16">
                    <small class="header-text d-block pt-lg-24">
                        {{ include.t.subheading }}
                    </small>
                    <h1 class="content mb-24 mb-lg-40">
                        {{ include.t.heading }}
                    </h1>
                    <p class="mb-24">
                        {{ include.t.paragraph }}
                    </p>
                </div>
            </div>
        </div>
        <div class="offset-xl-1 col-lg-6 d-flex flex-column flex-center align-items-sm-start mt-40 mt-lg-0">
            <h2 class="heading-small text-center text-sm-start text-lg-center mt-80 mt-lg-0 mb-48 mb-md-80 mb-lg-32">
                {{ include.t.title_diamond }}
            </h2>
            <div class="row justify-content-center justify-content-sm-start">
                <div class="col-8 col-sm-5 col-md-5 d-flex flex-column justify-content-between mb-64 mb-sm-0">
                    <img 
                        src="/images/partners/metapack.svg" 
                        alt="Metapack logo"
                        title="Metapack"
                        class="partner-logo img-fluid mb-48" 
                    />
                    <a 
                        href="{{ site.data.translations.global[page.lang].metapack_url }}"
                        class="btn secondary align-self-start"
                    >
                        {{ include.t.diamond_btn }}
                    </a>
                </div>
                <div class="col-8 col-sm-5 col-md-5 offset-sm-1 offset-lg-2 d-flex flex-column justify-content-center">
                    <img 
                        src="/images/partners/apator-rector.svg" 
                        alt="Apator Rector logo"
                        title="Apator Rector"
                        class="partner-logo img-fluid mb-48 mt-16" 
                    />
                    <a 
                        href="{{ site.data.translations.global[page.lang].apator_url }}"
                        class="btn secondary align-self-start mt-auto"
                    >
                        {{ include.t.diamond_btn }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section container mb-80">
    <h2 class="text-center text-sm-left mb-48 mb-md-80">
        {{ include.t.title_gold }}
    </h2>
    <div class="row justify-content-center justify-content-sm-start">
        <div class="col-8 col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.expondo.pl/" target="_blank"><img 
                src="/images/partners/expondo.svg" 
                alt="expondo.pl logo"
                title="expondo.pl"
                class="img-fluid partner-logo mb-48"
            /></a>
        </div>
    </div>
</section>


<section class="section container mb-80">
    <h2 class="text-center text-sm-left mb-48 mb-md-80">
        {{ include.t.title_media }}
    </h2>
    <div class="row justify-content-center justify-content-sm-start">
        <div class="col-8 col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.meetup.com/KGD-NET" target="_blank"><img 
                src="/images/partners/kgd_logo.png" 
                alt="KGD .NET logo"
                title="KGD .NET"
                class="img-fluid partner-logo mb-48"
            /></a>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-2">
            <a href="https://programmer-girl.com" target="_blank"><img 
                src="/images/partners/programmer-girl.png" 
                alt="programmer-girl logo"
                title="programmer-girl"
                class="img-fluid partner-logo mb-48"
            /></a>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.wzielonej.pl/radio-index" target="_blank"><img 
                src="/images/partners/index_header.png" 
                alt="radio index logo"
                title="Radio Index"
                class="img-fluid partner-logo mb-48"
            /></a>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-2">
            <a href="https://medium.com/kielce-java" target="_blank"><img 
                src="/images/partners/kielce_jug_logo.png" 
                alt="kielce java user group logo"
                title="Kielce JUG"
                class="img-fluid partner-logo mb-48"
            /></a>
        </div>
    </div>
</section>