<section class="section section-frame container my-0 pb-72">
    <div class="row">
        <div class="col-md-6 px-0">
            <div class="row flex-column">
                <div class="col-md-10 d-flex flex-column anim-wrapper mb-48">
                    <div class="frame-fill">
                        <div class="rect">
                        </div>
                        <h1 class="content mb-0 mb-lg-40">
                            {{include.t.header}}
                        </h1>
                        <p class="mb-48 mb-md-80">
                            {{include.t.header_text}}
                        </p>
                    </div>
                    <div class="anim-wrapper d-block d-md-none my-48 pl-16">
                        <div class="frame">
                            {% include frame.html %}
                        </div>
                        <p class="text-sm">
                            {{include.t.questions_text}}
                        </p>
                        <a href="mailto:contact@greenfieldconf.pl" class="link h3 mb-0">
                            contact@greenfieldconf.pl
                        </a>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-column anim-wrapper">
                    <div class="content-text">
                        <p class="mb-32">
                            {{include.t.text1}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text2}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text3}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text4}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text5}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text6}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text7}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text8}}
                        </p>
                        <p class="mb-32">
                            {{include.t.text9}}
                        </p>
                        <p class="mb-0">
                            {{include.t.text10}}
                        </p>
                    </div>
                </div>
                <div class="section pt-0"></div>
            </div>
        </div>

        <div class="col-md-5 offset-md-1 anim-wrapper px-0 d-none d-md-block">
            <div class="frame-container d-flex flex-column justify-content-center pl-16 pl-lg-48">
                <div class="frame">
                    {% include frame.html %}
                </div>
                <p class="text-sm">
                    {{include.t.questions_text}}
                </p>
                <a href="mailto:contact@greenfieldconf.pl" class="link h3 mb-0">
                    contact@greenfieldconf.pl
                </a>
            </div>
        </div>
    </div>
</section>