.lang-switch {
    .lang-link {
        padding: 2px;
        position: relative;
        background: none;
        border: none;
        outline: none !important;
        font-size: inherit;
        cursor: pointer;
        &.active {
            cursor: initial;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                display: inline-block;
                width: 100%;
                background: $dark;
            }
        }
    }
}