.swiper-container {
  .swiper-slide {
    min-height: 100%;
    height: auto;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      border: 1px solid $gray-2;
      background: transparent;
      cursor: pointer;
      margin: 0 10px 0 0;
      padding: 5px;
      outline: none !important;
      &.swiper-pagination-bullet-active {
        background: $gray-2;
        transition: background-color 0.2s ease;
      }
    }
  }
}