---
permalink: /polityka-prywatnosci
layout: default
style: privacy_policy
---

<section class="section section-frame container my-0 pb-72">
    <div class="row">
        <div class="col-md-6 px-0">
            <div class="row flex-column">
                <div class="col-md-10 d-flex flex-column anim-wrapper mb-48">
                    <div class="frame-fill">
                        <div class="rect">
                        </div>
                        <h1 class="content mb-0 mb-lg-40">
                            Polityka prywatności
                        </h1>
                        <p class="mb-48 mb-md-80">
                            Nie zbieramy i nie przetwarzamy danych ponad to co jest niezbędne do organizacji konferencji. Szczegóły poniżej.
                        </p>
                    </div>
                    <div class="anim-wrapper d-block d-md-none my-48 pl-16">
                        <div class="frame">
                                {% include frame.html %}
                        </div>
                        <p class="text-sm">
                            Masz jakieś wątpliwości? Pisz:
                        </p>
                        <a href="mailto:contact@greenfieldconf.pl" class="link h3 mb-0">
                            contact@greenfieldconf.pl
                        </a>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-column anim-wrapper">
                    <div class="policy-text">
                        <p class="mb-32">
                            1. Za pośrednictwem strony www.GreenfieldConf.pl nie zbieramy i nie przetwarzamy żadnych danych osobowych.
                        </p>
                        <p class="mb-32">
                            2. Do obsługi newslettera wykorzystujemy zewnętrzne narzędzie serwisu mailchimp.com (cele marketingowe).
                        </p>
                        <p class="mb-32">
                            3. Jeśli przy zakupie biletu wyraziłeś zgodę zgodę na przetwarzanie moich danych osobowych w celach marketingowych, zgodnie z ustawą o ochronie danych osobowych, w celu wysyłania informacji handlowej i chcesz tą zgodę cofnąć, to pisz na 
                            <a href="mailto:contact@greenfieldconf.pl" class="link">contact@greenfieldconf.pl</a>. 
                            Zostałeś poinformowany, że przysługuje Ci prawo dostępu do swoich danych, możliwości ich poprawiania, żądania zaprzestania ich przetwarzania. Administratorem danych jest Fundacja conf.IT ul. Rydza Śmigłego 62/8.
                        </p>
                        <p class="mb-32">
                            4. Do obsługi sprzedaży biletów wykorzystujemy zewnętrzne narzędzie: Evenea. Więcej o polityce prywatności tego narzędzia:
                            <a href="https://evenea.pl/polityka-prywatnosci" target="_blank" class="link">https://evenea.pl/polityka-prywatnosci</a> 
                        </p>
                        <p class="mb-32">
                            5. Strona wykorzystuje narzędzia analityczne: Google Analytics (anonimize IP) i Hotjar.
                        </p>
                        <p class="mb-32">
                            6. Pliki cookies – nie używamy żadnych zaawansowanych rozwiązań – domyślne mechanizmy ww. narzędzi.
                        </p>
                        <p class="mb-32">
                            7. Strona internetowa www.GreenfieldConf.pl używa plików cookies (tzw. ciasteczka) w celach statystycznych, reklamowych oraz funkcjonalnych. Dzięki nim wspieramy popularność Konferencji Greenfield. Każdy może zaakceptować pliki cookies albo ma możliwość wyłączenia ich w przeglądarce, dzięki czemu nie będą zbierane żadne informacje. Dowiedz się jak wyłączyć ciasteczka.
                        </p>
                        <p class="mb-32">
                            8. Możesz się z nami skontaktować za pośrednictwem 
                            <a href="mailto:contact@greenfieldconf.pl" class="link">contact@greenfieldconf.pl</a>,
                            Twittera lub Facebooka. W przypadku kontaktu z Twojej inicjatywy – korespondencja jest archiwizowana w wymienionych narzędziach.
                        </p>
                        <p class="mb-32">
                            9. W każdej chwili możesz poprosić o wgląd w Twoje dane i poprosić o usunięcie ich. Pisz na 
                            <a href="mailto:contact@greenfieldconf.pl" class="link">contact@greenfieldconf.pl</a>
                        </p>
                        <p class="mb-0">
                            10. Jeżeli powyższe dziewięć punktów nie rozwiało Twoich wątpliwości związanych z polityką prywatności na tej stronie, skontaktuj się z nami. Z chęcią wyjaśnimy wszystkie wątpliwości.
                        </p>
                    </div>
                </div>
                <div class="section pt-0"></div>
            </div>
        </div>

        
        <div class="col-md-5 offset-md-1 anim-wrapper px-0 d-none d-md-block">
            <div class="frame-container d-flex flex-column justify-content-center pl-16 pl-lg-48">
                <div class="frame">
                    {% include frame.html %}
                </div>
                <p class="text-sm">
                    Masz jakieś wątpliwości? Pisz:
                </p>
                <a href="mailto:contact@greenfieldconf.pl" class="link h3 mb-0">
                    contact@greenfieldconf.pl
                </a>
            </div>
        </div>
    </div>
</section>