.tickets {
  .price {
    margin: 15px;

    .panel-heading {      
      .fa {
        display: block;
        font-size: 4rem;
        margin: 1rem;
        color: #cfcfcf;
        &.fa-heart {
          color: red;
        }
      }

    }
  }

  text-align: center;
  h3 {
    font-weight: 300;
  }

  .panel-body {
    padding: 0;

    .lead, small {
      font-size: 3rem;
      font-weight: 200;
      margin: 0;
    }

    small {
      font-size: 1.5rem;
    }
  }
  .list-group {
    text-align: left;
    font-weight: 300;
  }
}