@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/* GLOBAL STYLES
-------------------------------------------------- */
html, body{
  height: 100%;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.btn-border {
  border: 1px solid black;
}

.btn:hover.btn-border, .btn-border {
  border: 1px solid black;
}

/* Main menu
-------------------------------------------------- */
$navbar-margin: 1.5rem;
$navbar-margin-small: 0.2rem;

@keyframes fadeInFromNone {
  0% {
    background-color:rgba(20, 20, 20, 0);
    padding-bottom: $navbar-margin;
    padding-top: $navbar-margin;
  }
  100% {
    background-color:rgba(20, 20, 20, 0.95);
    padding-bottom: $navbar-margin-small;
    padding-top: $navbar-margin-small;
  }
}

@keyframes fadeOutFromVisible {
  0% {
    background-color:rgba(20, 20, 20, 0.95);
    padding-bottom: $navbar-margin-small;
    padding-top: $navbar-margin-small;
  }
  100% {
    background-color:rgba(20, 20, 20, 0);
    padding-bottom: $navbar-margin;
    padding-top: $navbar-margin;
  }
}

$header-navbar-backgound: rgba(20, 20, 20, 0.95);

header {
  .navbar {
    font-size: 1.4rem;
    background: rgba(20, 20, 20, 0);
    padding-bottom: $navbar-margin;
    padding-top: $navbar-margin;

    // Responsive main menu adjustments
    @include media-breakpoint-only(md) {
      .navbar-brand {
        padding-right: 1rem;
      }
    }
    @include media-breakpoint-between(xs, sm) {
      .navbar-brand {
        width: 70%;
        // g p d l
        margin: 1rem 0rem 1rem 0.5rem;
      }
      .navbar-toggler {
        margin: 1rem 0.5rem 1rem 0rem;
      }
      .navbar-collapse {
        background-color:$header-navbar-backgound;
        
        .navbar-nav {
          padding: 0.5rem;
        }
      }
    }

    // The rest of main menu styles
    ul {
      list-style: none;
      margin: 0 2px;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }

    .nav-item {
      text-align:center;

      .nav-link {
        color: white;
      }
    }

    &.shrink {
      animation: fadeInFromNone 0.2s ease-in;
      background-color:$header-navbar-backgound;
      padding-bottom: $navbar-margin-small;
      padding-top: $navbar-margin-small;
    }
    &.top {
      animation: fadeOutFromVisible 0.2s ease-out;
      background-color:rgba(20, 20, 20, 0);
      padding-bottom: $navbar-margin;
      padding-top: $navbar-margin;
    }
  }
}

@media (max-width: 920px) {
  header .navbar {
    font-size: 1.3rem;

  }
}

$header-margin: 2.5rem;

/* Main page blocks
-------------------------------------------------- */
.main-page-block {
  margin-bottom: $header-margin;

  h1 {
    font-weight: 300;
    text-align: center;
    margin-bottom: $header-margin;
  }

  h2 {
    font-weight: 200;
    text-align: center;
    margin-bottom: $header-margin;
  }
}

/* About
-------------------------------------------------- */
.about {
  p {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

/* News
-------------------------------------------------- */
.news-console {
    font-size: 1.2rem;
    font-family: monospace;
    text-align: center;
}

/* Conf numbers
-------------------------------------------------- */
.conf-numbers {
  color: White;
  text-align: center;
  background: url("res/paths-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;

  .conf-numbers-inner {
    padding: 2rem;
    background-color: rgba(0,0,0, 0.6);
  }

  span {
    font-size: 4rem;
  }
  small {
    display: block;
  }
}
/* Full screen banners
-------------------------------------------------- */
.full-page {
  height: 100%;
  margin-bottom: 2.5rem;

  .carousel, 
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
  }

  .carousel-caption {
    top: 30%;
    text-align: center;
    z-index: 10;

    h1 {
      font-size: 5rem;
      font-weight: normal;
      margin-bottom: 2rem;
    }
  }

  .carousel-item {
    background-color: #777;

    &.first-slide {
      background-image: url("res/front-background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-attachment: fixed;
    }
  }
}

/* Speakers, agenda
-------------------------------------------------- */
.main-page-block {
  .speaker-block {
    margin-bottom: 1.5rem;
    text-align: center;

    a, a:hover {
      color: Black;
      text-decoration: none;
    }
    .speaker-name {
      font-weight: 300;
      font-size: 1.9rem;
      margin: 0;
      display: block;
    }
    .speaker-actions {
      font-size: 1.4rem;
    }

    .fa-question {
      font-size: 8rem;
      display: block;
      height: 140px;
    }
  }
}

/* Agenda, paths block
-------------------------------------------------- */
.two-paths-block {
  text-align: center;
  background: url("res/paths-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;

  @include media-breakpoint-between(xs, sm) {
    h1 {
      font-size: 3rem;
    }
  }

  .jumbotron {
    background-color: rgba(0,0,0, 0.6);
    color: White;
  }

  .see-schedule {
    background-color: transparent;
    border-color: white;
    color: white;
    text-decoration: none;
    margin: 1rem;
    display: block;
  }

  .btn.btn-xl {
    font-size: 2rem;
    background-color: transparent;
    border-color: greenyellow;

    &:hover {
      border-color: white;
      background-color: rgba(0,0,0, 0.5);
    }
  }
} 

/* GOOGLE MAP
-------------------------------------------------- */
.location-map {
  min-height: 400px;

  &.bigger-map {
    min-height: 600px;    
  }
}

.location-wrapper {
  position: relative;

  .location-box-on-map {
    position: static;

    .location-box {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      background-color: #ffffff;
      z-index: 100;
      padding: 40px 70px;

      a, a:visited, a:active {
        color: #505354;
      }
      
      a:hover {
        text-decoration: none;
        color: #000;
      }
      .fa {
        color: #259707;
      }

      @include media-breakpoint-between(xs,sm) {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        position: static;
        padding: 15px 15px 0;
      }
    }
  }
}

/* Localization
-------------------------------------------------- */
.main-page-block.location {
  .fa {
    margin-right: 1rem;
    display: inline-block;
  }
  .fa-map-marker {
    font-size: 4rem;
    float: left;
  }
}

/* Schedule page
-------------------------------------------------- */
.schedule-table {

  font-weight: 300;

  // time
  tr > td:first-child {
    font-size: 1.5rem;
    font-weight: 300;
    span {
      font-size: 0.9rem;
    }  
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .speaker-block {
    float: left;
    margin-right: 1rem;

    .speaker-name {
      font-size: 1rem;

    }
  }
}

/* Speakers page
-------------------------------------------------- */
.main-page-block.speakers {
  .speaker-block {
    padding: 2rem;
    .desc {
      text-align: justify;
    }
    .schedule-entry {      
      display: inline-block;
      text-align:left;
    }
  }
}

/* Schedule entry
-------------------------------------------------- */
.schedule-entry-block {
  .speaker-block {
    padding: 2rem;
    .desc {
      text-align: justify;
    }
  }
  a.schedule-entry, a.schedule-entry:visited, a.schedule-entry:active {
    color: #505354;
  }
  a.schedule-entry:hover {
    text-decoration: none;
    color: #000;
  }
}

/* BILETY
-------------------------------------------------- */
@import 'main-trickets';

/* Contact page
-------------------------------------------------- */
.contact-page-block {
  a {
    text-decoration: none;
    color: black;

    i {
      display: inline-block;
      padding: 5px;
    }
  }
}

/* FOOTER
-------------------------------------------------- */
footer {
  color: #f0f0f0;
  padding: 50px 0 0 0;
  
  a { 
    color:#a0a3a4;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  h6 {
    color: white;
  }

  i { 
    margin-right: 0.5rem;

    &.contact-icon {
      background-color: darken($dark, 3%);
      padding: 1rem;
    }
  }
  .footer-left {
    .logo { 
      margin-bottom: 2rem;
    }
  }
  .footer-right
  {
    ul { 
      list-style-type: none;
      padding-left: 0;

      li {
        font-size: 0.9rem;
        line-height: 1.7rem;
      }
    }
  }

  .row > div {
    padding-bottom: 1.5rem;
  }
  
  @include media-breakpoint-between(xs, sm) {
    text-align: center;
    .footer-right
    {
      text-align: left;
      display: inline;
      width: auto;
      margin: 0 auto;     
    }
  }
}

.copyright { 
  min-height: 40px;
  background-color: #000000;
}
.copyright p { 
  text-align: left;
  color: #FFF;
  padding: 10px;
  margin: 0;
}

/* sub-pages */
.sub-page {
  .main-page-block {
    margin-top: 7.5rem;

    h1, h2 {
      padding-top: $header-margin;
    }
  }

  header nav {
    background-color: $header-navbar-backgound;
  }

  header {
    @keyframes fadeInFromNone {
      0% {
        padding-bottom: $navbar-margin;
        padding-top: $navbar-margin;
      }
      100% {
        padding-bottom: $navbar-margin-small;
        padding-top: $navbar-margin-small;
      }
    }
    
    @keyframes fadeOutFromVisible {
      0% {
        padding-bottom: $navbar-margin-small;
        padding-top: $navbar-margin-small;
      }
      100% {
        padding-bottom: $navbar-margin;
        padding-top: $navbar-margin;
      }
    }
    
    .navbar {
      background: $header-navbar-backgound;
  
      &.shrink {
        animation: fadeInFromNone 0.2s ease-in;
        background-color:$header-navbar-backgound;
        padding-bottom: $navbar-margin-small;
        padding-top: $navbar-margin-small;
      }
      &.top {
        animation: fadeOutFromVisible 0.2s ease-out;
        background-color:$header-navbar-backgound;
        padding-bottom: $navbar-margin;
        padding-top: $navbar-margin;
      }
    }
  }
}
