@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/cookieconsent/build/cookieconsent.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

/* GLOBAL STYLES
-------------------------------------------------- */
html, body{
  height: 100%;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a.cc-btn {
  text-decoration: none;
}

h1 {
  font-weight: 800;
}
.btn-primary {
  font-weight: bold;
}
.btn-secondary {
  @include button-variant(
                  $darker-secondary, $darker-secondary,
          $hover-background: darken($darker-secondary, 7.5%),
          $active-background: darken($darker-secondary, 10%),
          $active-border: darken($darker-secondary, 12.5%)
  );
  font-weight: bold;
}
.btn-green {
  @include button-variant(
    $darker-green, $darker-green, 
    $hover-background: darken($darker-green, 7.5%), 
    $active-background: darken($darker-green, 10%), 
    $active-border: darken($darker-green, 12.5%)
  );

    font-weight: bold;
    color: darken($darker-green, 40%);
}
.btn-border {
  border: 1px solid black;
}
.btn:hover.btn-border, .btn-border {
  border: 1px solid black;
}

/* It's hack! To scroll to anchor and into advantage the height of main menu. */
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -100px;

  &.tickets {
    top: -60px;
  }
}

/* Main menu
-------------------------------------------------- */
$navbar-margin: 1rem;
$navbar-margin-small: 0.2rem;

@keyframes fadeInFromNone {
  0% {
    background-color:rgba(0, 0, 0, 0);
    padding-bottom: $navbar-margin;
    padding-top: $navbar-margin;
  }
  100% {
    background-color:rgba(0, 0, 0, 0.95);
    padding-bottom: $navbar-margin-small;
    padding-top: $navbar-margin-small;
  }
}

@keyframes fadeOutFromVisible {
  0% {
    background-color:rgba(0, 0, 0, 0.95);
    padding-bottom: $navbar-margin-small;
    padding-top: $navbar-margin-small;
  }
  100% {
    background-color:rgba(0, 0, 0, 0);
    padding-bottom: $navbar-margin;
    padding-top: $navbar-margin;
  }
}

$header-navbar-backgound: rgba(0, 0, 0, 0.95);

header {
  .navbar {
    font-size: 1.4rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    padding-bottom: $navbar-margin;
    padding-top: $navbar-margin;

    // Responsive main menu adjustments
    @include media-breakpoint-only(md) {
      .navbar-brand {
        padding-right: 1rem;
      }
    }
    @include media-breakpoint-between(xs, sm) {
      .navbar-brand {
        width: 70%;
        // g p d l
        margin: 1rem 0rem 1rem 0.5rem;
      }
      .navbar-toggler {
		margin: 1rem 0.5rem 1rem 0rem;
		cursor: pointer;
      }
      .navbar-collapse {
        background-color:$header-navbar-backgound;

        .navbar-nav {
          padding: 0.5rem;
        }
      }
	}
	.navbar-brand img{
		width: 300px;
	  }

    // The rest of main menu styles
    ul {
      list-style: none;
      margin: 0 2px;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }

    .nav-item {
      text-align:center;

      .nav-link {
        color: white;
      }
    }

    &.shrink {
      animation: fadeInFromNone 0.2s ease-in;
      background-color:$header-navbar-backgound;
      padding-bottom:  0.2rem;
      padding-top: 0.2rem;
    }
    &.top {
      animation: fadeOutFromVisible 0.2s ease-out;
      background-color:rgba(0, 0, 0, 0);
      padding-bottom: $navbar-margin;
      padding-top: $navbar-margin;
    }
  }
}



$header-margin: 1.5rem;
$header-margin-bottom: 2.5rem;

/* Main page blocks
-------------------------------------------------- */
.main-page-block {
  margin-bottom: $header-margin-bottom;

  h1 {
    font-weight: 800;
    text-align: center;
    margin-bottom: $header-margin-bottom;
  }

  h2 {
    font-weight: 200;
    text-align: center;
    margin-bottom: $header-margin-bottom;
  }

  &.light-background a {
    font-weight: bold;
    color: black;
    &:hover {
      color: lighten(Black, 30%)
    }
    .fa-youtube {
      color: red;
    }
  }

  &.last-year {
    text-align: center;
    h1 {
      margin-bottom: 1em;
    }
  }
}

.dark-block {
  color: White;
  text-align: center;
  background: url("res/paths-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;

  .dark-block-inner {
    padding: 2rem;
  }

  &.conf-numbers {
    font-size: 2rem;
    span {
      font-size: 6rem;
    }
    small {
      display: block;
    }
  }
}

/* Newsletter modal
-------------------------------------------------- */
.modal-content {
	background: #000;
	color: #fff;
	#mce-EMAIL{
		border: 1px solid #fff !important;
		background: none;
		color: #fff;
		transition: .3s all ease;
		padding: 5px;
		&:focus, &:active{
			border: none !important;
			box-shadow: none !important;
			outline: none !important;
			background: #fff !important;
			border: 1px solid #fff !important;
			color: #000 !important
		}
	}
	.subfield span, p{
		font-size: 14px;
	}
	#mc-embedded-subscribe{
		background: #32E37A;
		color: #fff;
		border: 1px solid #000;
		padding: 5px 10px !important;
		font-weight: 700;
		transition: .3s all ease;
		cursor: pointer;
		&:hover{
			border: 1px solid #fff;
			color: #000;
			background: #fff;
		}
	}
	.content__gdprLegal a{
		color: #000
	}
	.close{
		color: #fff;
	}
}

.newsletter-wrap{
	background: #32E37A;
	.newsletter-btn{
		background: #fff;
		color: #000;
		transition: .3s all ease;
		cursor: pointer;
		&:hover{
			background: #000;
			color: #fff
		}
	}
}

/* About
-------------------------------------------------- */
.about {
  .main-page-block {
    .container {
      padding: 2em;
    }
  }
}

/* Full screen banners
-------------------------------------------------- */
.full-page {
  height: 100%;
  min-height: 600px;
  margin-bottom: 2.5rem;
  background-color: #777;
  background-image: url("res/front-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  color: white;

  .info-page {
    text-align: left;
    vertical-align: middle;
    height: 100%;
    padding-top: 30%;

    // headers
    h1, h2 { font-weight: 800; }
    h1 {
      color: $primary;
      font-size: 18pt;
    }
    h2 {
      color: white;
      font-size: 13pt;
    }

    @include media-breakpoint-up(md) {
      h1 { font-size: 25pt; }
      h2 { font-size: 20pt; }
    }
    @include media-breakpoint-up(lg) {
      h1 { font-size: 35pt; }
      h2 { font-size: 30pt; }
    }
    @include media-breakpoint-up(xl) {
      h1 { font-size: 40pt; }
      h2 { font-size: 35pt; }
    }

    div:first-child {
      .btn {
        margin-bottom: 20px;
      }
	}
	// sponsors slider
	.carousel-indicators{
		li {

			background: none;
			border: 1px solid #fff;
			cursor: pointer;
            width: 15px;
            height: 15px;
            border-radius: 7px;
            @include media-breakpoint-up(md) {
              border-radius: 5px;
              width: 10px;
              height: 10px;
            }
		}
		.active{
			background: #fff;
		}
	}
	.carousel-wrapper{
		.carousel-inner{
			height: 210px;
			img{
				height: 80px;
				width: auto;
			}
		}
	}
    // right column
    div:last-child {
      p.strong-info {
        color: #000;
        background-color: #32E37A;
        padding: 10px 14px;
        display: inline-block;
        margin-bottom: 0;
        box-decoration-break: clone;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 3px;
        margin-bottom: 5px;
      }
    }
  }
}

/* Temporary counter
-------------------------------------------------- */
.ticket-container{
  background: url('res/ticket-bcg.jpg') no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 5em;
  color: #fff;
	h3, h2{
		font-weight: 700;
	}
}
.countdown-wrapper{
	color: $darker-green;
	span{
		color: #fff;
		font-size: 2em
	}
	p{
		font-weight: 700;
	}
}
.ticket-item {
	width: 100%;
  padding: 60px 0;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 1em;

  @include media-breakpoint-up(md) {
    font-size: 0.8em;
  }
  @include media-breakpoint-up(lg) {
    width: 23%;
  }

	h3 {
		font-weight: 700;
		font-size: 1.2em
	}
	p {
		font-weight: 700;
		font-size: 2.5em
	}

  &.disabled-ticket{
    color: White;
  }
}

/* Speakers, agenda
-------------------------------------------------- */
.main-page-block {
  .speaker-block {
    margin-bottom: 1.5rem;
    text-align: center;

    a, a:hover {
      color: Black;
      text-decoration: none;
    }
    .speaker-name {
      font-weight: 300;
      font-size: 1.9rem;
      margin: 0;
      display: block;
    }
    .speaker-actions {
      font-size: 1.4rem;
    }
    .fa-question, .fa-microphone {
      font-size: 8rem;
      display: block;
      height: 140px;
    }
  }

  &.speakers-block{
    padding-top: $header-margin;
    .description {
      text-align: center;
      margin-bottom: 3em;
    }
  }

  &.partner-block {
    padding: 3em;
  }
}

/* Agenda, paths block
-------------------------------------------------- */
.two-paths-block {
  text-align: center;
  background: url("res/paths-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;

  @include media-breakpoint-between(xs, sm) {
    h1 {
      font-size: 3rem;
    }
  }

  .jumbotron {
    color: White;
  }

  .see-schedule {
    background-color: transparent;
    border-color: white;
    color: white;
    text-decoration: none;
    margin: 1rem;
    display: block;
  }

  .btn.btn-xl {
    font-size: 2rem;
    background-color: transparent;
    border-color: greenyellow;

    &:hover {
      border-color: white;
      background-color: rgba(0,0,0, 0.5);
    }
  }
}

/* GOOGLE MAP
-------------------------------------------------- */
.location-map {
  min-height: 400px;

  &.bigger-map {
    min-height: 600px;
  }
}

.location-wrapper {
  position: relative;

  .location-box-on-map {
    position: static;

    .location-box {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      background-color: #ffffff;
      z-index: 100;
      padding: 40px 70px;

      a, a:visited, a:active {
        color: #505354;
      }

      a:hover {
        text-decoration: none;
        color: #000;
      }
      .fa {
        color: #259707;
      }

      @include media-breakpoint-between(xs,sm) {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        position: static;
        padding: 15px 15px 0;
      }
    }
  }
}

/* Localization
-------------------------------------------------- */
.main-page-block.location {
  .fa {
    margin-right: 1rem;
    display: inline-block;
    width: 20px;
  }
  .fa-map-marker {
    font-size: 4rem;
    float: left;
    margin-right: 2rem;
  }
}

/* Schedule page
-------------------------------------------------- */
.schedule-table {
  font-weight: 300;
  // time
  tr {
    > td:first-child {
      font-size: 1.5rem;
      font-weight: 300;
      span {
        font-size: 0.9rem;
      }
    }
    > td:nth-child(3) {
      width: 45%;
    }

    td {
      div.row > div
      {
        padding-bottom: 1rem;
      }
      @include media-breakpoint-up(md) {
        div.row > div:first-child
        {
          border-right: 3px solid #e0e0e0;
        }
      }
      @include media-breakpoint-down(sm) {
        div.row > div:first-child
        {
          border-bottom: 3px solid #e0e0e0;
          margin-bottom: 1rem;
        }
      }
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0rem;
  }
  .schedule-categories {
    margin-bottom: 1rem;
    display: block;
  }

  .dinner {
    text-align: center;
    i {
      font-size: 2em;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
  .speaker-block {
    float: left;
    margin-right: 1rem;
    width: 100px;
    .speaker-name {
      font-size: 1rem;

    }
  }
}

/* Speakers page
-------------------------------------------------- */
.main-page-block.speakers {
  .speaker-block {
    padding: 2rem;
    .desc {
      text-align: justify;
    }
    .schedule-entry {
      display: block;
      text-align: left;
      @extend .rounded;
      background-color: #f8f8f8;
      background-image: url('res/favicons/favicon-32x32.png');
      background-repeat: no-repeat;
      background-position: 10px center;
      padding: 10px;
      padding-left: 50px;
    }
  }
}

/* About us
-------------------------------------------------- */
.main-page-block.aboutus {
  .speaker-block {
    padding: 1rem;
    .desc {
      text-align: center;
    }

    .fa.fa-user-circle {
      font-size: 8rem;
      width: 140px;
      height: 140px;
    }
  }
}

/* Schedule entry
-------------------------------------------------- */
.schedule-entry-block {
  .speaker-block {
    padding: 2rem;
    .desc {
      text-align: justify;
    }
  }
  a.schedule-entry, a.schedule-entry:visited, a.schedule-entry:active {
    color: #505354;
  }
  a.schedule-entry:hover {
    text-decoration: none;
    color: #000;
  }
  .conf-subject {
    p {
      text-align: justify;
    }
  }
}

/* BILETY
-------------------------------------------------- */
@import 'main-trickets';

/* Contact page
-------------------------------------------------- */
.contact-page-block {
  a {
    text-decoration: none;
    color: black;

    i {
      display: inline-block;
      padding: 5px;
    }
  }
}

/* FOOTER
-------------------------------------------------- */
footer {
  color: #f0f0f0;
  padding: 50px 0 0 0;

  a {
    color:#a0a3a4;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  h6 {
    color: white;
  }

  i {
    margin-right: 0.5rem;

    &.fab, &.fas {
      background-color: darken($dark, 3%);
      padding: 1rem;
    }
  }
  .footer-left {
    .logo {
      margin-bottom: 2rem;
    }
  }
  .footer-right
  {
    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        font-size: 0.9rem;
        line-height: 1.7rem;
      }
    }
  }

  .row > div {
    padding-bottom: 1.5rem;
  }

  @include media-breakpoint-between(xs, sm) {
    text-align: center;
    .footer-right
    {
      text-align: left;
      display: inline;
      width: auto;
      margin: 0 auto;
    }
  }
}

.copyright {
  min-height: 40px;
  background-color: #000000;
}
.copyright p {
  text-align: center;
  color: #FFF;
  padding: 10px;
  margin: 0;
}

/* sub-pages */
.sub-page {
  .main-page-block:first-child {
    margin-top: 7.5rem;
  }
  .main-page-block {
    h1, h2 {
      padding-top: $header-margin;
    }

    h2 {
      text-align: left;
      margin-bottom: 0;
      margin-top: 2rem;
      padding-top: 0;
    }
  }

  header nav {
    background-color: $header-navbar-backgound;
  }

  header {
    @keyframes fadeInFromNone {
      0% {
        padding-bottom: $navbar-margin;
        padding-top: $navbar-margin;
      }
      100% {
        padding-bottom: $navbar-margin-small;
        padding-top: $navbar-margin-small;
      }
    }

    @keyframes fadeOutFromVisible {
      0% {
        padding-bottom: $navbar-margin-small;
        padding-top: $navbar-margin-small;
      }
      100% {
        padding-bottom: $navbar-margin;
        padding-top: $navbar-margin;
      }
    }

    .navbar {
      background: $header-navbar-backgound;

      &.shrink {
        animation: fadeInFromNone 0.2s ease-in;
        background-color:$header-navbar-backgound;
        padding-bottom: $navbar-margin-small;
        padding-top: $navbar-margin-small;
      }
      &.top {
        animation: fadeOutFromVisible 0.2s ease-out;
        background-color:$header-navbar-backgound;
        padding-bottom: $navbar-margin;
        padding-top: $navbar-margin;
      }
    }
  }
}


/* partners page */
.partners {
  .main-page-block {
    h1 {
      text-align: center;
      margin-top: $header-margin;
      margin-bottom: $header-margin-bottom;
    }
    .row.uz {
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .media {
      img {
        margin-bottom: 10px;
      }
    }
  }
}

.img-sponsor{
	min-height: 100px;
	max-width: 300px;
  }

  @media (min-width: 920px) {
	.container-small{
		max-width: 720px;
	}
  }

@media (max-width: 920px) {
	header .navbar {
	  font-size: 1.3rem;
	}
	.navbar-brand img{
	  width: 220px !important;
	}
  h1, h2{
	  font-size: 26px;
  }
   .speaker-name{
	font-size: 26px !important;
  }
   .fa-7x{
	 font-size: 40px ;
   }
   .fa-microphone{
	font-size: 60px !important;
	height: auto !important;
  }
  .dark-block.conf-numbers span{
	font-size: 40px;
	font-weight: 700;
  }
}

@media (max-width: 767px) {
	.buy-btn{
	  display: block;
	  width: 150px;
	  text-align: center;
	}
	.prev-btn{
	  display: block;
	  text-align: center;
  }
}

/* Speakers, agenda
-------------------------------------------------- */
.main-page-block {
  .speaker-block {
    margin-bottom: 1.5em;
    text-align: center;

    a, a:hover {
      color: Black;
      text-decoration: none;
    }
    .speaker-name {
      font-weight: 300;
      font-size: 1.5em;
      margin: 0;
      display: block;
    }
    .speaker-actions {
      font-size: 1.2em;
    }
    .fa-question {
      font-size: 8rem;
      display: block;
      height: 140px;
      color: #a0a3a4;
    }
  }
}

/* Speakers page
-------------------------------------------------- */
.main-page-block.speakers {
  .speaker-block {
    padding: 2rem;
    .desc {
      text-align: justify;
    }
    .schedule-entry {
      font-size: 0.8em;
      display: block;
      text-align: left;
      @extend .rounded;
      background-color: #f8f8f8;
      background-image: url('res/favicons/favicon-32x32.png');
      background-repeat: no-repeat;
      background-position: 10px center;
      padding: 10px;
      padding-left: 50px;
    }
  }
}
