@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=cyrillic,cyrillic-ext,latin-ext');

/* GLOBAL STYLES
-------------------------------------------------- */
html, body{
  height: 100%;
  font-family: Roboto;
}


.btn-border {
  border: 1px solid black;
}

.btn:hover.btn-border, .btn-border {
  border: 1px solid black;
}

/* Main menu
-------------------------------------------------- */
header .navbar {
  background: rgba(20, 20, 20, 0);
  font-size: 1.4rem;
}

@media (max-width: 920px) {
  header .navbar {
    font-size: 1.3rem;
  }
}

header .navbar img {
  width: 100%;
}

header nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
header .nav-item {
  text-align:center;
}
header .navbar-dark .navbar-nav .nav-link {
  color: white;
}

@keyframes fadeInFromNone {
  0% {
    background-color:rgba(20, 20, 20, 0);
  }
  100% {
    background-color:rgba(20, 20, 20, 0.95);
  }
}

header .navbar.shrink {
  animation: fadeInFromNone 0.2s ease-in;
  background-color:rgba(20, 20, 20, 0.95);
}

/* Full screen banners
-------------------------------------------------- */
.full-page {
  height: 100%;
  margin-bottom: 2.5rem;
}

.carousel, 
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100%;
}

.carousel-caption {
  top: 30%;
  text-align: center;
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 5rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.carousel-item {
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
}

.carousel-item.first-slide {
  background-image: url("res/front-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}

/* Speakers, agenda
-------------------------------------------------- */
.main-page-block {
  margin-bottom: 2.5rem;
}

.main-page-block h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 2.5rem;
}
.main-page-block .speaker-block {
  margin-bottom: 1.5rem;
  text-align: center;
}
.main-page-block .speaker-block a,
.main-page-block .speaker-block a:hover {
  color: Black;
  text-decoration: none;
}
.main-page-block .speaker-name {
  font-weight: 300;
  font-size: 1.9rem;
  margin: 0;
  display: block;
}
.main-page-block .speaker-actions {
  font-size: 1.4rem;
}

/* Paths block
*/
.two-paths-block {
  text-align: center;
  background: url("res/paths-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.two-paths-block .jumbotron
{
  background-color: rgba(0,0,0, 0.6);
  color: White;
}

.two-paths-block .see-schedule {
  background-color: transparent;
  border-color: white;
  color: white;
  text-decoration: none;
  margin: 1rem;
  display: block;
}
.two-paths-block .btn.btn-xl {
  font-size: 2rem;
  background-color: transparent;
  border-color: greenyellow;

  &:hover {
    border-color: white;
    background-color: rgba(0,0,0, 0.5);
  }
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Google map
-------------------------------------------------- */

#location-map {
  height: 400px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* FOOTER
-------------------------------------------------- */
footer hr {
    margin: 0.2vw 1vw;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}

footer nav li {
    margin-left: 1vw;
    margin-right: 1vw;
}

#footer-2 {
    font-size: 0.8rem;
    color: #ffffff;
}



#footer-2 .copyright-text {
    margin-left: 1rem;
}

#footer-2 ul {
    list-style-type: none;
    list-style-position: outside;
    display: flex;
}

#footer-2 ul > li {
    margin-left: 1vw;
    margin-right: 1vw;
}

#footer-2 a,
#footer-2 a:active,
#footer-2 a:visited {
    color: rgba(255, 255, 255, 0.5);

}

#footer-2 a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}